.search-modal {
  .modal-content {
    background-color: transparent;
    border: none;
  }

  .header-search-input-item {
    width: clamp(160px, 60%, 210px)

    input {
      width: 100%;
    }
  }
}