.feature-listing {
  overflow-y: auto;
  margin-top: 30px;

  &::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
    background-color: #eee;
  }

  &::-webkit-scrollbar-thumb {
    background: #2F3B59;
    width: 10px;
    border-radius: 10px;
  }
}

html {
  &[dir="rtl"] {
    .feature-listing {
      direction: ltr;

      & > .row {
        direction: rtl;


        .list-item {
          .btn {
            float: left !important;
          }

          &__info {
            svg {
              display: inline-block;
              transform: rotateY(180deg);
              // flex-direction: row-reverse;

              // &.me-1 {
              //   margin-right: 0 !important;
              //   margin-left: 0.25rem !important;
              // }
            }
          }
        }
      }
    }
  }
}