.feature-listing {
  overflow-y: auto;
  margin-top: 30px;

  &::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
    background-color: #eee;
  }

  &::-webkit-scrollbar-thumb {
    background: #2F3B59;
    width: 10px;
    border-radius: 10px;
  }

  .load-more {
    // background-color: #4DB7FE;
    border-radius: 30px;
    box-shadow: 0px 0px 0px 7px rgba(204, 204, 204, 0.2);

    svg {
      animation-name: spin;
      animation-duration: 900ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  }
}

html {
  &[dir="rtl"] {
    .feature-listing {
      direction: ltr;

      & > .row {
        direction: rtl;


        .list-item {
          .btn {
            float: left !important;
          }

          &__info {
            svg {
              display: inline-block;
              transform: rotateY(180deg);
              position: relative;
              top: 2px;
              // flex-direction: row-reverse;

              // &.me-1 {
              //   margin-right: 0 !important;
              //   margin-left: 0.25rem !important;
              // }
            }
          }
        }
      }
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}