.main-header {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	z-index:100;
	box-shadow: 0 0 8px 0 rgba(0,0,0,0.12);
	padding:0 0 6px 0;
	height:80px;
}

.center-header .header-inner .show-search-button {
	display:block;
}

.dark-header {
	background:#2F3B59;
}
.fs-header {
	padding: 20px 50px;
}
.logo-holder {
	position:relative;
}
.logo-holder img {
	height:100%;
	width:auto;
	max-width: 100%;
	object-fit: contain;
}
.add-list {
	// float:right;
	padding: 13px 32px;
	position:relative;
	// top:20px;
	border-radius:30px;
	color:#fff;
	font-weight:700;
	text-transform:uppercase;
	font-size:11px;
	background-color: #4DB7FE;
	border: none;

	&:hover {
		color: #fff;
	}
}
.add-list .icon {
	padding-left:4px;
	font-weight:700;
}
.dark-header .add-list {
	box-shadow:0px 0px 0px 7px rgba(255,255,255,0.2);
}
.dark-header .add-list:hover {
	box-shadow:0px 0px 0px 7px rgba(255,255,255,0.1);
}
// .show-reg-form {
// 	float:right;
// 	color:#666;
// 	cursor:pointer;
// 	margin-right:40px;
// 	position:relative;
// 	top:34px;
// 	font-size:13px;
// 	font-weight:600;
// }
.dark-header .show-reg-form {
	color:#fff;
}
// .show-reg-form:before {
// 	content:'';
// 	position:absolute;
// 	top:50%;
// 	right:-20px;
// 	height:30px;
// 	width:1px;
// 	margin-top:-15px;
// 	background:rgba(255,255,255,0.41);
// }
// .dark-header .show-reg-form:before {
// 	color:#fff;
// 	background:rgba(255,255,255,0.21);
// }
// .show-reg-form i {
// 	padding-right:10px;
// }
.vis-header-search {
	// float:left;
	// margin-left:30px;
	position:relative;
	// top:20px;
}
.header-search-input-item input {
	border:none;
	height:40px;
	line-height:40px;
	padding:0 20px;
	float:left;
	width:210px;
}
.header-search-input-item {
	border-top-left-radius:20px;
	border-bottom-left-radius:20px;
	overflow:hidden;
	background:#fff;
}
.header-search-select-item {
	background:#fff;
	height:40px;
	border-left:1px solid #eee;
}
.header-search-select-item .nice-select {
	color:#292929;
	float:left;
	width:100%;
	border:none;
	min-width:150px;
    height: 40px;
    line-height: 40px;
}
.header-search-select-item .nice-select .list {
	width:100%;
	padding: 60px 12px 10px;
    background: #fff;
    border-radius: 4px;
}
.header-search-select-item .nice-select .list li{
	float:left;
	width:100%;
	padding: 5px 10px 6px;
    color: #666;
    font-size: 13px;
    border-radius: 2px;
	min-height:20px;
	line-height:20px;
}
.header-search-select-item .nice-select .nice-select-search {
	border:1px solid #eee;
}
.header-search-select-item .nice-select .list li:hover , .header-search-select-item .nice-select .list li.selected  {
	color:#fff;
}
.header-search-input-item  , .header-search-select-item , .header-search-button{
	float:left;
}
.header-search-button {
	height:40px;
	border:none;
	color:#fff;
	line-height:40px;
	border-radius: 0;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
	padding:0 30px;
	cursor:pointer;
	background-color: #4DB7FE;
}
.show-search-button {
	// display:none;
	color:#fff;
	// float:left;
	position:relative;
	// margin-left:20px;
	// top:32px;
	cursor:pointer;
	font-weight:600;
	padding-left:18px;
}
.show-search-button:before {
	content:'';
	position:absolute;
	left:0;
	top:-6px;
	bottom:-6px;
	width:1px;
	background:rgba(255,255,255,0.21);
}
.show-search-button i {
	padding-right:8px;
}

.lang-switcher {
	.dropdown-menu {
		min-width: 100%;
	}
}

.dropdown-toggle {
	&::after {
		vertical-align: 0.155em;
	}
}

html {
	&[dir="rtl"] {
		.dropdown-toggle {
			&::after {
				margin-left: 0;
				margin-right: 0.25em;
			}
		}
	}
}

@media (max-width: 1200px) {
	.fs-header {
		padding: 20px;
	}
}