.mapboxgl-popup-content {
  border-radius: 6px !important;
  min-width: 300px;
  padding: 0 !important;
  // padding: 0;
  overflow: hidden;

  h3 {
    border-bottom: 1px solid #eee;
    background-color: #2F3B59;
    color: #eee;

    &::first-letter {
      text-transform: uppercase;
    }
  }
}

html {
  &[dir="rtl"] {
    .mapboxgl-popup-content {
      svg {
        transform: rotateY(180deg);
      }
    }
  }
}